---
---

@import "vendor/breakpoint/breakpoint";
@import "themes";
@import "theme/default";
// @import "theme/dark";
@import "include/mixins";
@import "layout/reset";
@import "layout/base";
@import "include/utilities";
@import "layout/tables";
@import "layout/buttons";
@import "layout/notices";
@import "layout/masthead";
@import "layout/navigation";
@import "layout/footer";
@import "syntax";
@import "layout/forms";
@import "layout/page";
@import "layout/archive";
@import "layout/sidebar";

/* page background */
.page,
.page__content,
.initial-content,
.archive,
.site-content {
  background-color: #ffffff !important;
}

/* navbar background */
.masthead,
.greedy-nav {
  background-color: #f3f3f3 !important;
  border-bottom: 1px solid #e0e0e0;
}
